
{{> head }}
   
{{> navbar }}

<div class="row">
    
    <div class="col-8">
        <h1>Ejercicio Node</h1>
        <p>
            Algo para el parrafo
        </p>
    </div>

    <div class="col-8">
        <img src="assets/img/imgNode.png" class="img-thumbnail">

    </div>
    
</div>

{{> footer }}
    
